
<div class="row">
    <div class="col-md-4">
        <h2>Data Collector API</h2>
    </div>

    <div class="col-md-4">
        <h2>I need help</h2>
        <p>API enables you to download the data from from Data Collector</p>
        <p><a class="btn btn-default" href="/Help">Learn more &raquo;</a></p>
    </div>

</div>
