@model int?

@if (Model == null || Model <= 0)
{
    ViewBag.Title = "Form Could Not Be Sent";
    <h2>Something went wrong</h2>
    <p>
        Your form could not be sent. Please <a href="/Home/Buildings">go back</a> and try again.
    </p>
}
else
{
    ViewBag.Title = "Form Has Been Sent";
    <h2>Thank you</h2>

    <p>
        Your form has been sent. You can <a href="/Home/Buildings">go back</a>.
    </p>
}