@using DTOs
@using System.Dynamic

@{
    ViewBag.Title = "Form";
}

<h2>Form</h2>

@model BuildingDTO


    <div align="right">
        <p><a href="/Home/Buildings" class="btn btn-default">Return To Buildings View &raquo;</a></p>
    </div>


<script type="text/javascript" src="~/Scripts/formScripts.js"></script>
<p>
    <div class="jumbotron" id="help">

    </div>
</p>

@using (Html.BeginForm("SubmitForm", "Home", FormMethod.Post))
{
    <p>
        <b>Final inspection (approval) date:</b>
        <br />
        <input required pattern="[0-9][0-9]\.[0-9][0-9]\.[0-9]{4}" type="text" name="final_inspection"/> <!-- potential mistake here: what about 99. 99. 9999 -->
        <img title="Use the DD.MM.YYYY format. This field is required." src="~/Content/help.svg" width="28" onmouseover="help('final_inspection');"/>
    </p>

     <table border = "1">
     @foreach (SpecifiedElementDTO element in ViewBag.elements)
     {
         <tr>
             <td colspan=2><img src="/Content/help.svg" width="28" onmouseover="help('@element.Name'); " />
                <b> @element.DisplayName </b>
             </td>
         </tr>
         foreach (string property in SpecifiedElementDTO.properties)
         {

             IDictionary<string, object> htmlAttributes = new ExpandoObject();

             if (element.Required && !property.Equals("notes"))
             {
                 htmlAttributes.Add("required", "true");
             }
             if (property.Equals("state"))
             {
                 htmlAttributes.Add("pattern", "[1234]");
             }
             if (property.Equals("need of investment"))
             {
                 htmlAttributes.Add("pattern", "[1234]");
             }
             if (property.Equals("amount of investment"))
             {
                 htmlAttributes.Add("pattern", "[123]");
             }
             if (property.Equals("notes"))
             {
                 htmlAttributes.Add("maxlength", "1999");
             }

             <tr>
                 <td>@property</td>
                 <td>
                    @Html.TextBox(element.Name + "_" + property, "", htmlAttributes)
                 </td>
             </tr>
         }
     }
    </table>

    <input class="btn btn-default" type="submit" />
}