@{
    ViewBag.Title = "Data Collector";
}

<div class="row">
    <div class="col-md-4">
        <h2>Please log in</h2>
        <p>
            When logged in you can view and report the state of buildings under your control.
        </p>

        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            <div class="container">
                <label><b>ICO</b></label>
                <input autofocus type="text" placeholder="Enter Your ICO" name="ico" required>
                <button type="submit">Login</button>
            </div>
        }

    </div>
</div>